# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# test output
coverage/

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# E2E test cache (downloaded Obsidian versions)
.obsidian-cache/
